VITE_SUPABASE_URL=https://zpdcwuojblgfzdajqbfe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwZGN3dW9qYmxnZnpkYWpxYmZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyMTI4MzMsImV4cCI6MjA3NTc4ODgzM30.TLUno8GNxWqmSY205ltAZxO9PjFjMkovc3RNesp8NWQ
